.container-parent {
    display: flex;
    flex-direction: row;
}

.container1,
.container2,
.container {
    color: white;
    background-color: lightgray;
}

.container1,
.container2 {
    width: 170px;
}

.container {
   display: flex;
    flex-direction: column;
    color: white;

    background-color: lightgray;
}

.item {
    flex: 1;
    background-color: darkslateblue;
    margin-bottom: 10px;
}

.item12 {
    flex: 1;
    margin-left: 200px;
}
